* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --rojo: #d93f26;
  --blanco: #fdf2d4;
  --amarillo: #fabd3d;
  --azul: #003f5f;
  --negro: #001b49;
}

/* Asegúrate que el body o el contenedor principal tome toda la altura */
body,
html {
  height: 100%;
}

/* Contenedor padre para centrar */
body {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center; /* centra vertical */
  background-color: #f8f8f8; /* opcional, para que no quede blanco */
}
.App {
  /* width: 100%;*/
  max-width: 330px;
  width: 420px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Para pantallas más grandes */
@media (min-width: 768px) {
  .App {
    max-width: 720px;
    padding: 20px;
  }
}
/*media queries para responsividad */
