.header {
  height: 140px;
  background-color: var(--rojo);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: "PokemonSolid", sans-serif;
  font-size: 3em;
  color: var(--amarillo); /* color Pokémon */
  text-shadow: 2px 2px var(--azul); /* borde azul tipo logo */
  letter-spacing: 4px;
}
